.DS_Store
**/vendor/
**/node_modules/
**/.env
**/.env.*
!**/.env.example
backend/public/app/
backend/public/build/
backend/public/hot
backend/bootstrap/cache/*.php
backend/storage/**/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*.php
backend/.phpunit.result.cache
backend/.phpunit.cache/
backend/.phpstan-cache/
frontend/dist/
frontend/*.tsbuildinfo
